[Unit]
Description=configure usb serial gadget
After=usb-gadget-base.service
Wants=usb-gadget-base.service
Requires=usb-gadget-base.service
ConditionPathIsDirectory=/sys/kernel/config/usb_gadget/g/configs/c.1

[Service]
Type=oneshot
RemainAfterExit=true
# add serial function
ExecStart=/usr/bin/mkdir /sys/kernel/config/usb_gadget/g/functions/acm.0
# Glue function to config
ExecStart=/usr/bin/ln -s /sys/kernel/config/usb_gadget/g/functions/acm.0 /sys/kernel/config/usb_gadget/g/configs/c.1/acm.0

# unlink function
ExecStop=/usr/bin/rm    /sys/kernel/config/usb_gadget/g/configs/c.1/acm.0
# remove function
ExecStop=/usr/bin/rmdir /sys/kernel/config/usb_gadget/g/functions/acm.0